.circle{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100px;
    height:100px;
    border-radius: 50%;
}

.circle .share{
    position: relative;
    width:100%;
    height:100%;
    line-height: 50px;
    text-align: center;
    color:#fff;
    background: black;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 2px #112833;

}

.contactInfo__gmailInfo{
    position: absolute;
    top:100%;
    
    padding: 10px;
    
}

.contactInfo__linkInfo{
    position: absolute;
    top:30%;
    right: 100%;
    padding: 10px;

}

.contactInfo__linkInfo a{
    text-decoration: none;
}

.contactInfo__locInfo{
    position: absolute;
    top:30%;
    left:100%;
    padding: 10px;
    
}

.contactInfo__gitInfo{
    position: absolute;  
    bottom: 100%;
    
    
}

.contactInfo__gitInfo a{
    text-decoration: none;
}

.contactInfo__gith1,.contactInfo__gith2{
    color: transparent;
}

.circle ul:hover .contactInfo__gith1{
    color: black;
}

.circle ul:hover .contactInfo__gitInfo a{
    text-decoration: underline;
    
}

.circle ul:hover .contactInfo__gith2{
    color: black;
}

.contactInfo__linkh1,.contactInfo__linkh2{
    color: transparent;
}

.circle ul:hover .contactInfo__linkh1{
    color: black;
}

.circle ul:hover .contactInfo__linkInfo a{
    text-decoration: underline;
}

.circle ul:hover .contactInfo__linkh2{
    color: black;
}


.contactInfo__loch1,.contactInfo__loch2{
    color: transparent;
}

.circle ul:hover .contactInfo__loch1{
    color: black;
}

.circle ul:hover .contactInfo__loch2{
    color: black;
}

.contactInfo__gmailInfo .contactInfo__h1,.contactInfo__gmailInfo .contactInfo__h2{
    color: transparent;
}


.circle ul:hover .contactInfo__h1{
    color: black;
}

.circle ul:hover .contactInfo__h2{
    color: #000;
}


.contactInfo__body{
    height: 100vh;
}
.circle ul{
    position: absolute;
    top:-50px;
    left:-50px;
    margin:0;
    padding:0;
    width:200px;
    height:200px;
    background:white;
    border-radius: 50%;
    transition: .5s;
    box-shadow: 0 0 0 2px #1b3646,0 0 0 4px black;
    transition:1s;
    z-index: -1;
    transform:scale(0.3) rotate(-180deg);
}

.support{
  margin-top:35px;
   transform:scale(3);
}

.circle:hover ul{

    transform:scale(1) rotate(0deg);
}



.circle ul li{
    position: absolute;
    list-style: none;
}

.circle ul li:nth-child(1){
    top:15px;
    left:50%;
    transform :translateX(-50%);
}

.circle ul li:nth-child(2){
    bottom:15px;
    left:50%;
    transform :translateX(-50%);
}

.circle ul li:nth-child(3){
    top:50%;
    left:15px;
    transform :translateY(-50%);
}

.circle ul li:nth-child(4){
    top:50%;
    right:15px;
    transform :translateY(-50%);
}

.circle ul li:nth-child(2):hover .contactInfo__gmailInfo .contactInfo__h1{
    color: black;
}



.circle ul li:hover .icon{
    transform: scale(2);
    color:#f44336
}



.circle ul:before{
    content: '';
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:2px;
    background:#112833;
    transform: rotate(45deg);
    
}

.circle ul::after{
    content: '';
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:2px;
    background:#112833;
    transform: rotate(-45deg);
    
}

